<html>
	<head>
		<link rel="stylesheet" href="assets/css/style.css">
		<script src="assets/js/htmx.min.js" defer></script>
	</head>
	<body>
		<h1>Hello sir</h1>
		<div id="matrix-view">
			<div id="matrix">
		
			</div>
			<button
				hx-get="/admin/matrix"
				hx-target="#matrix"
				hx-trigger="click"
				hx-swap="innerHTML">
				Générer matrice
			</button>
		</div>
	
		<div id="courses-view">
			<form hx-post="/admin/new-course" id="new-course-form" hx-swap="none">
				<table>
					<tr>
						<th>
							<label for="code">Code</label>
						</th>
						<th>
							<label for="name">Nom du cours</label>
						</th>
						<th>
							<label for="name">Filière</label>
						</th>
					</tr>
					<tr>
						<td>
							<input type="text" name="code" placeholder="LINMA1510">
						</td>
						<td>
							<input type="text" name="name" placeholder="T_T">
						</td>
						<td>
							<input type="text" name="type" placeholder="MAP">
						</td>
						<td>
							<input type="submit" value="Ajouter">
						</td>
					</tr>
				</table>
				<div id="courses"
					hx-get="/admin/courses"
					hx-trigger="load,submit from:#new-course-form"
					hx-swap="innerHTML">
				</div>
			</form>
		</div>
	</body>
</html>